ul{
    display: inline-block;
}
.btn{
    color:white;
    background: #FF1303;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: red;
}
#navbarSupportedContent ul li a{
    font-family: sans-serif;
    font-style: none;
    color: #292B96;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
}

#main-bar{
    background: rgba(41, 44, 150, 0.8);  
}
.section{
    padding-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}
.heading{
    margin-bottom: 30px;
}
input.texting{
    background-color: #C4C4C4;font-size: 15px;width:300px;height: 100px;padding: 20px;
}

 #main{
    width: 500px;padding-left: 10px;margin: auto; height: 100px;margin-top: 10px;
 }
 #sec{
    height:100px; border-radius:0px 0px 0px 0px;background-color: #C4C4C4;
 }
 .accordion {
  
    color: #FFF;
    cursor: pointer;  

    border: 1px solid white;
    outline: none;
    transition: 0.4s;
 
   
}
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

