 ul{
    display: inline-block;
    text-align: center;
}
.btn{
    color:white;
    background: #FF1303;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: red;
}
a{
font-family: sans-serif;
font-style: none;
color: #292B96;
font-weight: bold;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: flex-end;
text-align: right;
letter-spacing: 0.6px;
}
label.ques{
    font-family: 'Roboto', sans-serif; 
    line-height: 28px;
    color: #3B5998;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}
label.radio2{
    padding-bottom:10px;
}
input.texting{
    border-style: none;
    border-bottom:  2px solid #5456AB;
    width: 100%;
}
p.asp{
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
line-height: 28px;
}

