.btn{
    color:white;
    background: #FF1303;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: red;
}
a{
    font-family: sans-serif;
    font-style: none;
    color: #292B96;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    display: flex;
    align-items: flex-end;
    text-align: right;
    letter-spacing: 0.6px;
    }
.form-control{
        vertical-align: center;
        width: 350px;
    }

.title{
    text-underline-position: under;
    font-family: serif;
}
.btn-block{
    background-color: #292B96;
    font-family: serif;

}