ul{
    display: inline-block;
}
.btn{
    color:white;
    background: #FF1303;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: red;
}
#navbarSupportedContent ul li a{
font-family: sans-serif;
font-style: none;
color: #292B96;
font-weight: bold;
font-size: 14px;
line-height: 18px;
display: flex;
align-items: flex-end;
text-align: right;
letter-spacing: 0.6px;
}
.title{
    text-underline-position: under;
}
