#main-bar{
    background: rgba(41, 44, 150, 0.8);  
}
#crdsty1{
    border-radius: 0px 0px 0px 0px;
    background: black;
}
#crdsty2{
    border-radius: 0px 0px 0px 0px;     
}
.sty1{
    padding: 0px;
}

ul{
    display: inline-block;
}
.btn{
    color:white;
    background: #FF1303;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: red;
}
.btn-circle1 {
    width: 20px;
    height: 20px;
    padding: 0px 0px;
    border-radius: 10px;
    text-align: center;
    font-size: 10px;
    text-decoration-color:whitesmoke;
    background-color: #28AD2B; 
}
button#default1{
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(41, 44, 150, 0.73);
}
button#default2{
    border-radius: 0px 0px 0px 0px;
    background-color: rgba(0, 0, 0, 0.37);
    width: 165px;
  }
.btngrp{
      padding-left: 25px;
  }
#navbarSupportedContent ul li a{
    font-family: sans-serif;
    font-style: none;
    color: #292B96;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: right;  
}

.accordion {
    background-color: #5456AB;
    color: #FFF;
    cursor: pointer;  
    text-align: left;
    border: 1px solid white;
    outline: none;
    transition: 0.4s;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
    margin:0px 15px;
    height:44px;
    width: 350px;
}
.accordion:after {
    content: "\f01a";
    font-family: FontAwesome; /* Unicode character for "plus" sign (+) */
   size:2px;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\f01b"; /* Unicode character for "minus" sign (-) */
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

p.text{
    font-family: 'Quicksand', sans-serif; 
}
button i#btnsty{
    color:  #30CC34;
}
button i#btnsty1{
    color:  #CC3030;
}
p i#btnsty{
    color: #30CC34; 
}
p i#btnsty1{
    color:  #CC3030;
}

/*   style for progress bar */

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background:none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}

.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 5px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
    animation: loading-1 1.8s linear forwards;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
  
    font-size: 24px;
    color: #F5EDA6;;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}

.progress.yellow .progress-bar{
    border-color: #fdba04;
}
.progress.yellow .progress-left .progress-bar{
    animation: loading-3 1s linear forwards 1.8s;
}

@keyframes loading-1{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }
}
@keyframes loading-2{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(144deg);
        transform: rotate(144deg);
    }
}
@keyframes loading-3{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
    }
}
@keyframes loading-4{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(36deg);
        transform: rotate(36deg);
    }
}
@keyframes loading-5{
    0%{
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100%{
        -webkit-transform: rotate(126deg);
        transform: rotate(126deg);
    }
}
@media only screen and (max-width: 990px){
    .progress{ margin-bottom: 20px; }
}






