ul{
    display: inline-block;
}
.btn{
    color:white;
    background: #FF1303;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: red;
}
#navbarSupportedContent ul li a{
    font-family: sans-serif;
    font-style: none;
    color: #292B96;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
}

#main-bar{
    background: rgba(41, 44, 150, 0.8);  
}
.scrollbar{
    width: 400px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 30px auto;
 }
 .fa {
     color: white;
 }
 ::-webkit-scrollbar{
     width: 10px;
  
 }
 ::-webkit-scrollbar-track{
     border-radius: 10px;
 box-shadow: inset 0 0 6px gray ;
 }
 ::-webkit-scrollbar-thumb{
     border-radius: 10px;
 background: black;
 }


