ul{
    display: inline-block;
}
.btn{
    color:white;
    background: #FF1303;
}
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: red;
}
.btn-sm{
    height:35px;
    width:35px;
}
#crdsty1{
    height: 300px;
    padding-left: 30px;
}

/*   card2   */
#parts{
    margin-left: 15px;
    margin-right: 15px;
}
/*card 2*/

.heading{
    width:300px;
}
#navbarSupportedContent ul li a{
    font-family: sans-serif;
    font-style: none;
    color: #292B96;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: right;
}

#main-bar{
    background: rgba(41, 44, 150, 0.8);  
}
.section{
    padding-left: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
}
.heading{
    margin-bottom: 30px;
}
p.texting{
    background-color: #C4C4C4;
    font-size: 15px;
    width:300px;
    height: 100px;
    padding: 20px;
}
.scrollbar{
    width: 310px;
    height: 500px;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 30px auto;
 }
 .fa {
     color: white;
 }
 ::-webkit-scrollbar{
     width: 5px;
  
 }
 ::-webkit-scrollbar-track{
     border-radius: 10px;
 box-shadow: inset 0 0 6px gray ;
 }
 ::-webkit-scrollbar-thumb{
     border-radius: 10px;
 background: black;
 }
 #main{
    width: 500px;padding-left: 10px;margin: auto; height: 100px;margin-top: 10px;
 }



